---
date: Last Modified
layout: default
---
{% for post in posts %}
	<article>
	{% if (post.image.length > 0) %}
		<figure class="images-{{post.image.length}}">
		{% if ('reddit' === post.source) %}
			<a
				rel="noopener"
				target="_blank"
				href="https://www.reddit.com/{{post.id}}"
			>
		{% else %}
			<a
				rel="noopener"
				target="_blank"
				href="https://twitter.com/{{post.author}}/status/{{post.id}}"
			>
		{% endif %}
		{% for image in post.image %}
				<picture
					style="background-image:url({{[post, image] | localImagePrefix}}-16x16.jpg)"
				>
					<source
						type="image/webp"
						srcset="{{[post, image] | localImageSrcsetWebp}}"
					>
					<img
						src="{{[post, image] | localImagePrefix}}-320.jpg"
						width="{{[post, image] | localImageWidth}}"
						height="{{[post, image] | localImageHeight}}"
						srcset="{{[post, image] | localImageSrcsetJpeg}}"
						loading="lazy"
						decoding="async"
					>
				</picture>
		{% endfor %}
			</a>
			<figcaption>
	{% endif %}
				<table>
					<tbody>
						<tr>
							<th scope="row">Source</th>
							<td>{{post.source}}</td>
						</tr>
	{% if ('reddit' === post.source) %}
						<tr>
							<th scope="row">Author</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://www.reddit.com/user/{{post.author}}"
								>u/{{post.author}}</a>
							</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://www.reddit.com/{{post.id}}"
								>{{post.id | pathSoftWrap}}</a>
							</td>
						</tr>
	{% else %}
						<tr>
							<th scope="row">Author</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.author}}"
								>@{{post.author}}</a>
							</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.author}}/status/{{post.id}}"
								>{{post | twitterPathSoftWrap}}</a>
							</td>
						</tr>
	{% endif %}
						<tr>
							<th scope="row">Date</th>
							<td><time
								datetime="{{post.date | postDate }}"
							>{{post.date | postDateHuman }}</time></td>
						</tr>
	{% if ('via' in post) %}
						<tr>
							<th scope="row">via</th>
							<td>
		{% if 'twitter' == post.via.source %}
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.via.name}}/status/{{post.via.id}}"
								>@{{post.via.name}}, <time
									datetime="{{post.via.date | postDate }}"
								>{{post.via.date | postDateHuman }}</time></a>
		{% endif %}
							</td>
						</tr>
	{% endif %}
					</tbody>
				</table>
	{% if ('image' in post) %}
			</figcaption>
		</figure>
	{% endif %}
	</article>
{% endfor %}
