---
date: Last Modified
layout: default
---
{% for post in posts %}
	<article itemscope itemtype="https://schema.org/BlogPosting">
	{% if (post.image.length > 0 or 'youtube' === post.source) %}
		{% if ('youtube' !== post.source) %}
		<figure class="images-{{post.image.length}}">
		{% elif ('videos' in post) %}
		<figure class="separates images-{{post.videos.length}}">
			<section>
		{% else %}
		<figure class="images-1">
		{% endif %}
		{% if ('reddit' === post.source) %}
			<a
				rel="noopener"
				target="_blank"
				href="https://www.reddit.com/{{post.id}}"
				itemprop="url"
			>
		{% elif ('youtube' === post.source ) and not ('videos' in post) %}
			<a
				rel="noopener"
				target="_blank"
				href="{{post.url}}"
				itemprop="url"
			>
		{% elif ('twitter' === post.source) %}
			<a
				rel="noopener"
				target="_blank"
				href="https://twitter.com/{{post.author}}/status/{{post.id}}"
				itemprop="url"
			>
		{% endif %}
		{% for image in post.image %}
				<picture
					style="background-image:url({{[post, image] | localImagePrefix}}-16x16.jpg)"
				>
					<source
						type="image/webp"
						srcset="{{[post, image] | localImageSrcsetWebp}}"
					>
					<img
						itemprop="image"
						src="{{[post, image] | localImagePrefix}}-320.jpg"
						width="{{[post, image] | localImageWidth}}"
						height="{{[post, image] | localImageHeight}}"
						srcset="{{[post, image] | localImageSrcsetJpeg}}"
						loading="lazy"
						decoding="async"
						alt="{{image.alt}}"
					>
				</picture>
		{% endfor %}
		{% if ('youtube' === post.source) and not ('videos' in post) %}
				<picture
					style="background-image:url({{[post, image] | youtubeImagePrefix}}-16x16.jpg)"
				>
					<source
						type="image/webp"
						srcset="{{[post] | youtubeImageSrcsetWebp}}"
					>
					<img
						itemprop="image"
						src="{{[post] | youtubeImagePrefix}}-320.jpg"
						width="{{[post] | youtubeImageWidth}}"
						height="{{[post] | youtubeImageHeight}}"
						srcset="{{[post] | youtubeImageSrcsetJpeg}}"
						loading="lazy"
						decoding="async"
						alt="{{post.alt}}"
					>
				</picture>
		{% elif ('youtube' === post.source) %}
			{% for video in post.videos %}
				<a
					href="{{video.url}}"
					rel="noopener"
					target="_blank"
				>
					<picture
						style="background-image:url({{[post, video] | youtubeImagePrefix}}-16x16.jpg)"
					>
						<source
							type="image/webp"
							srcset="{{[post, video] | youtubeImageSrcsetWebp}}"
						>
						<img
							itemprop="image"
							src="{{[post, video] | youtubeImagePrefix}}-320.jpg"
							width="{{[post, video] | youtubeImageWidth}}"
							height="{{[post, video] | youtubeImageHeight}}"
							srcset="{{[post, video] | youtubeImageSrcsetJpeg}}"
							loading="lazy"
							decoding="async"
							alt="{{video.alt}}"
						>
					</picture>
				</a>
			{% endfor %}
		{% endif %}
		{% if not ('videos' in post) %}
			</a>
		{% else %}
			</section>
		{% endif %}
			<figcaption>
	{% endif %}
				<table>
					<tbody>
						<tr>
							<th scope="row">Title</th>
							<td itemprop="headline">{{post.title}}</td>
						</tr>
						<tr>
							<th scope="row">Source</th>
							<td>{{post.source}}</td>
						</tr>
	{% if ('reddit' === post.source) %}
						<tr>
							<th scope="row">Author</th>
							<td itemprop="author" itemscope itemtype="https://schema.org/Person">
								<a
									rel="noopener"
									target="_blank"
									href="https://www.reddit.com/user/{{post.author}}"
									itemprop="url"
								>u/<span itemprop="name">{{post.author}}</span></a>
							</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://www.reddit.com/{{post.id}}"
									itemprop="url"
								>{{post.id | pathSoftWrap}}</a>
							</td>
						</tr>
	{% elif ('youtube' === post.source) %}
						<tr>
							<th scope="row">Author</th>
							<td itemprop="author" itemscope itemtype="https://schema.org/Person">
								<a
									rel="noopener"
									target="_blank"
									href="https://youtube.com/channel/{{post.author.id}}"
									itemprop="url"
								><span itemprop="name">{{post.author.name}}</span></a>
							</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="{{post.url}}"
									itemprop="url"
								>{{post.url | pathSoftWrap}}</a>
							</td>
						</tr>
	{% elif ('twitter' === post.source) %}
						<tr>
							<th scope="row">Author</th>
							<td itemprop="author" itemscope itemtype="https://schema.org/Person">
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.author}}"
									itemprop="url"
								>@<span itemprop="name">{{post.author}}</span></a>
							</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.author}}/status/{{post.id}}"
									itemprop="url"
								>{{post | twitterPathSoftWrap}}</a>
							</td>
						</tr>
	{% endif %}
						<tr>
							<th scope="row">Date</th>
							<td><time
								itemprop="dateCreated"
								datetime="{{post.date | postDate }}"
							>{{post.date | postDateHuman }}</time></td>
						</tr>
	{% if ('via' in post) %}
						<tr>
							<th scope="row">via</th>
							<td>
		{% if 'twitter' == post.via.source %}
								<a
									rel="noopener"
									target="_blank"
									href="https://twitter.com/{{post.via.name}}/status/{{post.via.id}}"
								>@{{post.via.name}}, <time
									datetime="{{post.via.date | postDate }}"
								>{{post.via.date | postDateHuman }}</time></a>
		{% elif 'youtube' === post.via.source %}
								<a
									rel="noopener"
									target="_blank"
									href="https://youtube.com/channel/{{post.via.id}}"
								>{{post.via.name}}</a>
		{% endif %}
							</td>
						</tr>
	{% endif %}
					</tbody>
				</table>
	{% if ('image' in post) %}
			</figcaption>
		</figure>
	{% endif %}
	</article>
{% endfor %}
