/node_modules/
/src/**/*.html
/cache/**/*.png
/cache/**/*.json
/cache/**/*.mkv
/cache/**/*.mp4
/cache/**/*.webm
/tmp/
/src/img/*/**/*.jpg
/src/img/*/**/*.png
/src/img/*/**/*.webp
/src/css/style.css
/dist/
/rev-tmp/
/yt-dlp
