*
{
	&,
	&::before,
	&::after
	{
		box-sizing: border-box ;
		margin: 0 ;
		padding: 0 ;
		font: inherit ;
		color: inherit ;
		font-size: 1em ;
		vertical-align: inherit ;
	}
}

html
{
	font-size: calc((100vw / 320) * 20) ;
	font-family: system-ui, sans-serif ;

	@media (prefers-color-scheme: dark)
	{
		background: #141414 ;
		color: #fbedd8 ;
	}

	@media (min-width: 375px)
	{
		font-size: calc((100vw / 375) * 20) ;
	}

	@media (min-width: 425px)
	{
		font-size: calc((100vw / 425) * 20) ;
	}

	@media (min-width: 768px)
	{
		font-size: calc((100vw / 768) * 20) ;
	}

	@media (min-width: 1024px)
	{
		font-size: calc((100vw / 1024) * 20) ;
	}

	@media (min-width: 1440px)
	{
		font-size: calc((100vw / 1440) * 16) ;
	}

	@media (min-width: 1920px)
	{
		font-size: 16px ;
	}
}

img
{
	display: block ;
	max-width: 100% ;
}

picture
{
	background-size: cover ;
	display: block ;
	width: 100% ;

	> img
	{
		width: 100% ;
		height: auto ;
	}
}

main
{
	margin: 0 auto ;
	max-width: 768px ;
}

article
{
	outline: 1px solid ;

	+ article
	{
		margin-top: 2rem ;
	}
}

* + p
{
	margin-top: 1rem ;
}

table
{
	vertical-align: top ;
	text-align: left ;
	table-layout: fixed ;
	width: 100% ;
}

th[scope="row"]:first-child
{
	text-align: right ;
	width: 4rem ;

	&::after
	{
		content: ': ' ;
	}
}

a
{
	display: block ;
	text-overflow: ellipsis ;
	overflow: hidden ;
}

figure:not(.images-1)
{
	a
	{
		display: flex ;
		flex-wrap: wrap ;

		picture:not(:first-child)
		{
			width: 50% ;
		}
	}
}

blockquote,
footer
{
	padding: 1rem ;
}

figcaption
{
	padding: 1em ;
}

body > header,
body > footer
{
    height: 101vh ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    font-size: 4vmax ;

	> figure
	{
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:not(.images-1)
		{
			a
			{
				display: inline ;
			}
		}

		> figcaption
		{
			font-size: 1rem ;
		}
	}
}

body > header
{
	cursor: s-resize ;
}

body > footer
{
	font-size: 1rem ;

	a
	{
		display: inline ;
	}
}
