<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>blame hannah</title>
<meta
	name="description"
	content="A product of community-sourced entries & Satisfactory Clips Archive work."
>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:article:modified_time" content="{{page.date.toUTCString()}}">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
	<figure>
		<blockquote>Every rock has a story</blockquote>
		<figcaption>~<a
			href="https://twitter.com/HannahBeuger"
			target="_blank"
			rel="noopener"
		>Hannah Beuger, Coffee Stain Writer &amp; World Designer</a> on <a
			href="https://satisfactorygame.com/"
			target="_blank"
			rel="noopener"
		>Satisfactory</a>, <cite><a
			href="https://twitter.com/HannahBeuger/status/1255387137312251905"
			target="_blank"
			rel="noopener"
		>@HannahBeuger, April 29th, 2020</a></cite></figcaption>
	</figure>
</header>
<main>{{content | safe}}</main>
<footer>
	<h1>blamehannah.com</h1>
	<p>A product of community-sourced entries &amp; <a
		href="http://archive.satisfactory.video/"
		rel="noopener"
		target="_blank"
	>Satisfactory Clips Archive</a> work.</p>
	<p>&copy; SignpostMarv 2021</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/Satisfactory-Clips-Archive/blamehannah.com/issues"
		>Report issues with the website or submit new photos / videos of
			floating rocks, trees, and other out-of-place environmental
			objects.</a>
	</p>
	<p>
		<a
			rel="noopener"
			target="_blank"
			href="https://github.com/sponsors/SignpostMarv"
		>Sponsor on GitHub</a></p>
	<p><a
		href="https://www.youtube.com/watch?v=M7wSuhXitMk"
		rel="noopener"
		target="_blank"
		title="June 1st, 2021 Livestream - Snutt & Jace Talk: Northern Forest will be impacted by the World Update, blame Hannah (the inspiration for this website)"
	>blame Jace</a></p>
</footer>
</body>
</html>
